
/* -----------Responsive--------------- */

@media screen and (max-width:1230px){
    .container{
        display: flex;
        flex-direction: column;
        transition: 0.7s;
    }
    .intro1{
        font-size: 190%;
        margin: 10px;
        transition: 0.7s;
    }
    .intro2{
        margin: 10px;
    }
    .intro{
        display: none;
    }
    .intro3{
        display: block;
        font-size: 190%;
        font-weight: 600;
        color: #480c79;
        margin: 10px;
    }
    .col1{
        margin-top: 120px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        align-items: center;
        margin-right: 50px;
    }
    .col2{
       margin: 1px 1px 60px 0px;
        padding-top: 1px;
        display: flex;
        align-items: center;
    }
    .myphoto{
        margin-top: 40px;
    }
    .skills{
        display: inline;
    }
}

@media screen  and (max-width:780px) {
    .nav-item{
        display: none;
    }
    .menu-icon{
        display:block;
        transition: 0.7s;
    }
    .intro1{
        font-size: 160%;
        transition: 0.7s;
    }
    .col1{
        margin-right: 10px;
        margin-left: 10px;
    }
    .intro2{
        font-size: 80%;
        transition: 0.7s;
    }
    .intro3{
        font-size: 180%;
        transition: 0.7s;
    }
}

@media screen and (max-width:570px){
    .intro1{
        font-size: 135%;
    }
    .myphoto{
        width: 92%;
        transition: .7s;
    }
    .project-section-title{
        height:18%;
    }
    .project-container{
        display: flex;
        flex-direction: column; 
        transition: 0.7s;
    }
    .projects{
        height: 1200px;
        clip-path: polygon(100% 6%, 100% 92%, 80% 100%, 0 89%, 0 0);
    }
    .project-items{
        margin-top: 50px;
        width: 270px;
    }
    .handles>a>img{
        width: 45px;
        margin-left: 20px;
        margin-right: 20px;
        transition: .7s;
    }
    .footer-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content:flex-start;
        transition: .7s;
    }
    .center{
        margin: 20px 0px;
    }
}

@media  screen and (max-width:400px) {
    header{
        height: 70px;
    }
    .logo{
        margin-top: 10px;
        margin-left: 30px;
    }
    .menu-icon{
        margin: 22px;
    }
    .intro1{
        font-size: 110%;
    }
    .intro2{
        font-size: 60%;
    }
    .intro3{
        font-size: 130%;
    }
    .col1{
        margin-top: 70px;
    }
    .skill-item-flex{
            margin: 30px 0px;
    }
}

@media screen and (max-width:300px) {
    .logo{
        margin-left: 10px;
        width: 35px;
    }
    header{
        height: 60px;
    }
    .title{
        font-size: 90%;
    }
    .project-items{
        width: 100%;
    }
    address{
        font-size: .65rem;
    }
    .center p{
        font-size: .65rem;
    }
}